# Server Configuration
HOST_PORT=3000
SESSION_SECRET=your_secret_key
FRONTEND_PATH=./public
LOGS_DIR=./logs
# NODE_ENV=production # Uncomment when running the production server

# Admin User & Password
USERNAME_1=your_username
PASSWORD_HASH_1=your_bcrypt_hash

# Parent User & Password
USERNAME_2=your_username
PASSWORD_HASH_2=your_bcrypt_hash

# Kid User & Password
KIDUSER=your_username
KIDPASS_HASH=your_bcrypt_hash

# Council Information
COUNCIL_NAME=Jane Doe
COUNCIL_PHONE="(555) 555-5555"